<div class="col-md-3 calendar-task-list">
    <h2>22 September 2014</h2>
    <h3 class="all-day-event-title">Happening all day</h3>
    <div class="calendar-list">
        <div class="calendar-event all-day-event">
            <h4>A-Math Homework</h4>
            <p>
                Students are required to submit their A-Math homework on
                15th Sep 2014.
                <br>
                1. Page 10, question 1a to 10b
                <br>
                2. Page 12, question 20 and 24
                <br>
                3. Page 13, question 40
            </p>
        </div>
    </div>
    <h3 class="time-event-title">Time events</h3>
    <div class="calendar-list">
        <div class="calendar-event time-event">
            <div class="time-event-time">8:00am</div>
            <div class="time-event-details">Mark class S3-1 attendance</div>
        </div>
        <div class="calendar-event time-event">
            <div class="time-event-time">2:00pm</div>
            <div class="time-event-details">Class S3-1 Additional Mathematics Lesson</div>
        </div>
    </div>
</div>
<div class="col-md-9 calendar">
    <div class="col-md-12 calendar-month-control">
        <h2>
            <a href="javascript:void(0)" class="prev-month"><i class="fa fa-angle-left"></i></a>
            <span class="calendar-month">September</span>
            <a href="javascript:void(0)" class="next-month"><i class="fa fa-angle-right"></i></a>
        </h2>
    </div>
    <div class="calendar-days-label">
        <ul class="list-inline">
            <li>S</li>
            <li class="alt">M</li>
            <li>T</li>
            <li class="alt">W</li>
            <li>T</li>
            <li class="alt">F</li>
            <li>S</li>
        </ul>
    </div>
    <div class="calendar-content">
        <ul class="list-inline week" id="week1">
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
        </ul>
        <ul class="list-inline week" id="week2">
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
        </ul>
        <ul class="list-inline week" id="week3">
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
        </ul>
        <ul class="list-inline week" id="week4">
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
        </ul>
        <ul class="list-inline week" id="week5">
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
            <li class="alt">#</li>
            <li>#</li>
        </ul>
    </div>
</div>