<div class="col-md-5 news-feed">
    <h2><i class="fa fa-newspaper-o"></i> News Feed <a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i></a></h2>
    <div class="feed-track">
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feed-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">User</h4>
                    <p>Details here</p>
                </div>
                <div class="additional-details">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check"></i></a></li>
                        <li class="pull-right feed-date">12 Dec 2014, 12:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 chat-messages-list">
    <h2><i class="fa fa-comments"></i> Chat Messages <span>(20)</span> <a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i></a></h2>
    <div class="chat-search"> <input type="text" class="form-control" placeholder="Search"/></div>
    <div class="message-list-track">
        <div class="message-entry active">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name"><i class="fa fa-group"></i> Group Chat</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="message-entry">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><span class="message-name">User</span><span class="pull-right message-timing">11:30 a.m</span></h4>
                    <p>
                        <span class="message-detail">
                            Message preview here...
                        </span>
                        <span class="message-status pull-right">
                            <i class="fa fa-circle message-read"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-4 chat-messages">
    <div class="chat-convo">
        <div class="chat-convo-head">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/avartar-xs.png" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><i class="fa fa-group"></i> Group Chat</h4>
                    <p><a href="javascript:void(0)">Group Information</a></p>
                </div
            </div>
        </div>
        <div class="chat-convo-head-controls">
            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="chat-convo-details">
        <div class="convo-track">
            <div class="chat-left">
                <span class="avatar"><img src="/img/avartar-xs.png" /></span>
                <span class="bubble">
                    <span class="bubble-head">Tan Ying Ying</span>
                    <span class="bubble-time">11:00 a.m</span>
                    <span class="bubble-seen">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="bubble-details">Hello</span>
                </span>
            </div>
            <div class="chat-left">
                <span class="avatar"><img src="/img/avartar-xs.png" /></span>
                <span class="bubble">
                    <span class="bubble-head">Muhammed Mustafa Morraca Bafa</span>
                    <span class="bubble-time">11:00 a.m</span>
                    <span class="bubble-seen">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="bubble-details">Hello</span>
                </span>
            </div>
            <div class="chat-right">
                <span class="bubble">
                    <span class="bubble-head">Me</span>
                    <span class="bubble-time">11:00 a.m</span>
                    <span class="bubble-seen">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="bubble-details">Hello Teacher</span>
                </span>
                <span class="avatar"><img src="/img/avartar-xs.png" /></span>
            </div>
            <div class="chat-right">
                <span class="bubble">
                    <span class="bubble-head">Me</span>
                    <span class="bubble-time">11:00 a.m</span>
                    <span class="bubble-seen">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="bubble-details">This is going to be a super duper long message that is going to overflow</span>
                </span>
                <span class="avatar"><img src="/img/avartar-xs.png" /></span>
            </div>
            <div class="chat-left">
                <span class="avatar"><img src="/img/avartar-xs.png" /></span>
                <span class="bubble">
                    <span class="bubble-head">Tan Ying Ying</span>
                    <span class="bubble-time">11:00 a.m</span>
                    <span class="bubble-seen">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="bubble-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="chat-convo-send">
        <textarea class="form-control"></textarea>
        <div class="chat-convo-controls">
            <button class="btn btn-primary"> Send</button>
        </div>
    </div>
</div>