<div class="jumbotron inschool-cover"></div>
<div class="col-md-offset-1 col-md-10 arrive">
        <div class="col-md-5">
            <img src='/img/arrive-img.png' />
        </div>
        <div class="col-md-7">
            <h2>Arrive</h2>
            <p>Students <b>arrive</b> at school and check-in via inSchool portal from
                the school terminal or tap their inSchool RFID card on the gateway
                installed.
            </p>
        </div>
</div>
<div class="jumbotron attend-cover">
    <div class="col-md-offset-1 col-md-10 attend">
            <div class="col-md-5">
                <img src='/img/attend-img.png' />
            </div>
            <div class="col-md-7">
                <h2>Attend</h2>
                <p>Teacher-in-charge will do a final headcount check against the
                    class’ norminal roll from inSchool App to make sure that students
                    <b>attend</b> required classes. Attendance will be verified and submitted
                    to the school.
                </p>
            </div>
    </div>
</div>
<div class="col-md-offset-1 col-md-10 assure">
        <div class="col-md-5">
            <img src='/img/assure-img.png' />
        </div>
        <div class="col-md-7">
            <h2>Assure</h2>
            <p>
                A push notification will be sent out to parents on their child’s
                attendance in school. Rest <b>assured</b>, your child is in good hands!
            </p>
        </div>
</div>