<div class="jumbotron inschool-cover">
    <img src="/img/inschool-landing-logo.png" />
</div>
<div class="col-md-offset-2 col-md-8 inschool-sub-cover-icons">
    <div class="col-md-4"><img src="/img/inschool-landing-arrive.png" /></div>
    <div class="col-md-4"><img src="/img/inschool-landing-attend.png" /></div>
    <div class="col-md-4"><img src="/img/inschool-landing-assure.png" /></div>
</div>
<div class="col-md-offset-1 col-md-10 arrive">
        <div class="col-md-5">
            <img src='/img/arrive-img.png' />
        </div>
        <div class="col-md-7">
            <h2>Arrive</h2>
            <p>Students <b>arrive</b> at school and check-in via inSchool portal from
                the school terminal or tap their inSchool RFID card on the gateway
                installed.
            </p>
        </div>
</div>
<div class="jumbotron attend-cover">
    <div class="col-md-offset-1 col-md-10 attend">
            <div class="col-md-5">
                <img src='/img/attend-img.png' />
            </div>
            <div class="col-md-7">
                <h2>Attend</h2>
                <p>Teacher-in-charge will do a final headcount check against the
                    class’ norminal roll from inSchool App to make sure that students
                    <b>attend</b> required classes. Attendance will be verified and submitted
                    to the school.
                </p>
            </div>
    </div>
</div>
<div class="col-md-offset-1 col-md-10 assure">
        <div class="col-md-5">
            <img src='/img/assure-img.png' />
        </div>
        <div class="col-md-7">
            <h2>Assure</h2>
            <p>
                A push notification will be sent out to parents on their child’s
                attendance in school. Rest <b>assured</b>, your child is in good hands!
            </p>
        </div>
</div>

<div class="modal fade" id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Sign Up</h2>
                <div class="form-group">
                    <label for="tbFirstName">First Name</label>
                    <input type="text" class="form-control" id="tbFirstName" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="tbLastName">Last Name</label>
                    <input type="text" class="form-control" id="tbLastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="tbSignupEmail">Email address</label>
                    <input type="email" class="form-control" id="tbSignupEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="tbSignupPassword">Password</label>
                    <input type="password" class="form-control" id="tbSignupPassword" placeholder="Enter Password">
                </div>
                <div class="form-group button-controls">
                    <button class="btn btn-link" ng-click="cancelSignup()">Cancel</button>
                    <button class="btn btn-primary" ng-click="signup()">Sign up</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="schoolSignupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>School Sign Up</h2>
                <div class="form-group">
                    <label for="tbFirstName">School Name</label>
                    <input type="text" class="form-control" id="tbFirstName" placeholder="Enter School Name">
                </div>
                <div class="form-group">
                    <label for="tbSchoolEmail">Email address</label>
                    <input type="email" class="form-control" id="tbSchoolEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="tbSchoolPassword">Password</label>
                    <input type="password" class="form-control" id="tbSchoolPassword" placeholder="Enter Password">
                </div>
                <div class="form-group button-controls">
                    <button class="btn btn-link" ng-click="cancelSchoolSignup()">Cancel</button>
                    <button class="btn btn-primary" ng-click="schoolSignup()">Sign up</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Log In</h2>
                <div class="form-group">
                    <label for="tbEmail">Email address</label>
                    <input type="email" class="form-control" id="tbEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="tbPassword">Password</label>
                    <input type="password" class="form-control" id="tbPassword" placeholder="Enter Password">
                </div>
                <div class="form-group button-controls">
                    <button class="btn btn-link" ng-click="cancelLogin()">Cancel</button>
                    <button class="btn btn-primary" ng-click="login()">Log in</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
