<div class="col-md-12 error-content">
    <div class="col-md-offset-4 col-md-4 frown-face"><i class="fa fa-frown-o"></i></div>
    <h1 class="col-md-offset-4 col-md-4">Un-authorized</h1>
    <p class="col-md-offset-4 col-md-4">Sorry, you do not have any permissions to view the page.</p>
</div>