/*! normalize.css http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixing utilities from compass */
.flag {
  width: 16px;
  height: 11px;
  background: url(/cp-front/img/flags.png) no-repeat; }
  .flag.flag-ad {
    background-position: -16px 0; }
  .flag.flag-ae {
    background-position: -32px 0; }
  .flag.flag-af {
    background-position: -48px 0; }
  .flag.flag-ag {
    background-position: -64px 0; }
  .flag.flag-ai {
    background-position: -80px 0; }
  .flag.flag-al {
    background-position: -96px 0; }
  .flag.flag-am {
    background-position: -112px 0; }
  .flag.flag-an {
    background-position: -128px 0; }
  .flag.flag-ao {
    background-position: -144px 0; }
  .flag.flag-ar {
    background-position: -160px 0; }
  .flag.flag-as {
    background-position: -176px 0; }
  .flag.flag-at {
    background-position: -192px 0; }
  .flag.flag-au {
    background-position: -208px 0; }
  .flag.flag-aw {
    background-position: -224px 0; }
  .flag.flag-az {
    background-position: -240px 0; }
  .flag.flag-ba {
    background-position: 0 -11px; }
  .flag.flag-bb {
    background-position: -16px -11px; }
  .flag.flag-bd {
    background-position: -32px -11px; }
  .flag.flag-be {
    background-position: -48px -11px; }
  .flag.flag-bf {
    background-position: -64px -11px; }
  .flag.flag-bg {
    background-position: -80px -11px; }
  .flag.flag-bh {
    background-position: -96px -11px; }
  .flag.flag-bi {
    background-position: -112px -11px; }
  .flag.flag-bj {
    background-position: -128px -11px; }
  .flag.flag-bm {
    background-position: -144px -11px; }
  .flag.flag-bn {
    background-position: -160px -11px; }
  .flag.flag-bo {
    background-position: -176px -11px; }
  .flag.flag-br {
    background-position: -192px -11px; }
  .flag.flag-bs {
    background-position: -208px -11px; }
  .flag.flag-bt {
    background-position: -224px -11px; }
  .flag.flag-bv {
    background-position: -240px -11px; }
  .flag.flag-bw {
    background-position: 0 -22px; }
  .flag.flag-by {
    background-position: -16px -22px; }
  .flag.flag-bz {
    background-position: -32px -22px; }
  .flag.flag-ca {
    background-position: -48px -22px; }
  .flag.flag-catalonia {
    background-position: -64px -22px; }
  .flag.flag-cd {
    background-position: -80px -22px; }
  .flag.flag-cf {
    background-position: -96px -22px; }
  .flag.flag-cg {
    background-position: -112px -22px; }
  .flag.flag-ch {
    background-position: -128px -22px; }
  .flag.flag-ci {
    background-position: -144px -22px; }
  .flag.flag-ck {
    background-position: -160px -22px; }
  .flag.flag-cl {
    background-position: -176px -22px; }
  .flag.flag-cm {
    background-position: -192px -22px; }
  .flag.flag-cn {
    background-position: -208px -22px; }
  .flag.flag-co {
    background-position: -224px -22px; }
  .flag.flag-cr {
    background-position: -240px -22px; }
  .flag.flag-cu {
    background-position: 0 -33px; }
  .flag.flag-cv {
    background-position: -16px -33px; }
  .flag.flag-cw {
    background-position: -32px -33px; }
  .flag.flag-cy {
    background-position: -48px -33px; }
  .flag.flag-cz {
    background-position: -64px -33px; }
  .flag.flag-de {
    background-position: -80px -33px; }
  .flag.flag-dj {
    background-position: -96px -33px; }
  .flag.flag-dk {
    background-position: -112px -33px; }
  .flag.flag-dm {
    background-position: -128px -33px; }
  .flag.flag-do {
    background-position: -144px -33px; }
  .flag.flag-dz {
    background-position: -160px -33px; }
  .flag.flag-ec {
    background-position: -176px -33px; }
  .flag.flag-ee {
    background-position: -192px -33px; }
  .flag.flag-eg {
    background-position: -208px -33px; }
  .flag.flag-eh {
    background-position: -224px -33px; }
  .flag.flag-england {
    background-position: -240px -33px; }
  .flag.flag-er {
    background-position: 0 -44px; }
  .flag.flag-es {
    background-position: -16px -44px; }
  .flag.flag-et {
    background-position: -32px -44px; }
  .flag.flag-eu {
    background-position: -48px -44px; }
  .flag.flag-fi {
    background-position: -64px -44px; }
  .flag.flag-fj {
    background-position: -80px -44px; }
  .flag.flag-fk {
    background-position: -96px -44px; }
  .flag.flag-fm {
    background-position: -112px -44px; }
  .flag.flag-fo {
    background-position: -128px -44px; }
  .flag.flag-fr {
    background-position: -144px -44px; }
  .flag.flag-ga {
    background-position: -160px -44px; }
  .flag.flag-gb {
    background-position: -176px -44px; }
  .flag.flag-gd {
    background-position: -192px -44px; }
  .flag.flag-ge {
    background-position: -208px -44px; }
  .flag.flag-gf {
    background-position: -224px -44px; }
  .flag.flag-gg {
    background-position: -240px -44px; }
  .flag.flag-gh {
    background-position: 0 -55px; }
  .flag.flag-gi {
    background-position: -16px -55px; }
  .flag.flag-gl {
    background-position: -32px -55px; }
  .flag.flag-gm {
    background-position: -48px -55px; }
  .flag.flag-gn {
    background-position: -64px -55px; }
  .flag.flag-gp {
    background-position: -80px -55px; }
  .flag.flag-gq {
    background-position: -96px -55px; }
  .flag.flag-gr {
    background-position: -112px -55px; }
  .flag.flag-gs {
    background-position: -128px -55px; }
  .flag.flag-gt {
    background-position: -144px -55px; }
  .flag.flag-gu {
    background-position: -160px -55px; }
  .flag.flag-gw {
    background-position: -176px -55px; }
  .flag.flag-gy {
    background-position: -192px -55px; }
  .flag.flag-hk {
    background-position: -208px -55px; }
  .flag.flag-hm {
    background-position: -224px -55px; }
  .flag.flag-hn {
    background-position: -240px -55px; }
  .flag.flag-hr {
    background-position: 0 -66px; }
  .flag.flag-ht {
    background-position: -16px -66px; }
  .flag.flag-hu {
    background-position: -32px -66px; }
  .flag.flag-ic {
    background-position: -48px -66px; }
  .flag.flag-id {
    background-position: -64px -66px; }
  .flag.flag-ie {
    background-position: -80px -66px; }
  .flag.flag-il {
    background-position: -96px -66px; }
  .flag.flag-im {
    background-position: -112px -66px; }
  .flag.flag-in {
    background-position: -128px -66px; }
  .flag.flag-io {
    background-position: -144px -66px; }
  .flag.flag-iq {
    background-position: -160px -66px; }
  .flag.flag-ir {
    background-position: -176px -66px; }
  .flag.flag-is {
    background-position: -192px -66px; }
  .flag.flag-it {
    background-position: -208px -66px; }
  .flag.flag-je {
    background-position: -224px -66px; }
  .flag.flag-jm {
    background-position: -240px -66px; }
  .flag.flag-jo {
    background-position: 0 -77px; }
  .flag.flag-jp {
    background-position: -16px -77px; }
  .flag.flag-ke {
    background-position: -32px -77px; }
  .flag.flag-kg {
    background-position: -48px -77px; }
  .flag.flag-kh {
    background-position: -64px -77px; }
  .flag.flag-ki {
    background-position: -80px -77px; }
  .flag.flag-km {
    background-position: -96px -77px; }
  .flag.flag-kn {
    background-position: -112px -77px; }
  .flag.flag-kp {
    background-position: -128px -77px; }
  .flag.flag-kr {
    background-position: -144px -77px; }
  .flag.flag-kurdistan {
    background-position: -160px -77px; }
  .flag.flag-kw {
    background-position: -176px -77px; }
  .flag.flag-ky {
    background-position: -192px -77px; }
  .flag.flag-kz {
    background-position: -208px -77px; }
  .flag.flag-la {
    background-position: -224px -77px; }
  .flag.flag-lb {
    background-position: -240px -77px; }
  .flag.flag-lc {
    background-position: 0 -88px; }
  .flag.flag-li {
    background-position: -16px -88px; }
  .flag.flag-lk {
    background-position: -32px -88px; }
  .flag.flag-lr {
    background-position: -48px -88px; }
  .flag.flag-ls {
    background-position: -64px -88px; }
  .flag.flag-lt {
    background-position: -80px -88px; }
  .flag.flag-lu {
    background-position: -96px -88px; }
  .flag.flag-lv {
    background-position: -112px -88px; }
  .flag.flag-ly {
    background-position: -128px -88px; }
  .flag.flag-ma {
    background-position: -144px -88px; }
  .flag.flag-mc {
    background-position: -160px -88px; }
  .flag.flag-md {
    background-position: -176px -88px; }
  .flag.flag-me {
    background-position: -192px -88px; }
  .flag.flag-mg {
    background-position: -208px -88px; }
  .flag.flag-mh {
    background-position: -224px -88px; }
  .flag.flag-mk {
    background-position: -240px -88px; }
  .flag.flag-ml {
    background-position: 0 -99px; }
  .flag.flag-mm {
    background-position: -16px -99px; }
  .flag.flag-mn {
    background-position: -32px -99px; }
  .flag.flag-mo {
    background-position: -48px -99px; }
  .flag.flag-mp {
    background-position: -64px -99px; }
  .flag.flag-mq {
    background-position: -80px -99px; }
  .flag.flag-mr {
    background-position: -96px -99px; }
  .flag.flag-ms {
    background-position: -112px -99px; }
  .flag.flag-mt {
    background-position: -128px -99px; }
  .flag.flag-mu {
    background-position: -144px -99px; }
  .flag.flag-mv {
    background-position: -160px -99px; }
  .flag.flag-mw {
    background-position: -176px -99px; }
  .flag.flag-mx {
    background-position: -192px -99px; }
  .flag.flag-my {
    background-position: -208px -99px; }
  .flag.flag-mz {
    background-position: -224px -99px; }
  .flag.flag-na {
    background-position: -240px -99px; }
  .flag.flag-nc {
    background-position: 0 -110px; }
  .flag.flag-ne {
    background-position: -16px -110px; }
  .flag.flag-nf {
    background-position: -32px -110px; }
  .flag.flag-ng {
    background-position: -48px -110px; }
  .flag.flag-ni {
    background-position: -64px -110px; }
  .flag.flag-nl {
    background-position: -80px -110px; }
  .flag.flag-no {
    background-position: -96px -110px; }
  .flag.flag-np {
    background-position: -112px -110px; }
  .flag.flag-nr {
    background-position: -128px -110px; }
  .flag.flag-nu {
    background-position: -144px -110px; }
  .flag.flag-nz {
    background-position: -160px -110px; }
  .flag.flag-om {
    background-position: -176px -110px; }
  .flag.flag-pa {
    background-position: -192px -110px; }
  .flag.flag-pe {
    background-position: -208px -110px; }
  .flag.flag-pf {
    background-position: -224px -110px; }
  .flag.flag-pg {
    background-position: -240px -110px; }
  .flag.flag-ph {
    background-position: 0 -121px; }
  .flag.flag-pk {
    background-position: -16px -121px; }
  .flag.flag-pl {
    background-position: -32px -121px; }
  .flag.flag-pm {
    background-position: -48px -121px; }
  .flag.flag-pn {
    background-position: -64px -121px; }
  .flag.flag-pr {
    background-position: -80px -121px; }
  .flag.flag-ps {
    background-position: -96px -121px; }
  .flag.flag-pt {
    background-position: -112px -121px; }
  .flag.flag-pw {
    background-position: -128px -121px; }
  .flag.flag-py {
    background-position: -144px -121px; }
  .flag.flag-qa {
    background-position: -160px -121px; }
  .flag.flag-re {
    background-position: -176px -121px; }
  .flag.flag-ro {
    background-position: -192px -121px; }
  .flag.flag-rs {
    background-position: -208px -121px; }
  .flag.flag-ru {
    background-position: -224px -121px; }
  .flag.flag-rw {
    background-position: -240px -121px; }
  .flag.flag-sa {
    background-position: 0 -132px; }
  .flag.flag-sb {
    background-position: -16px -132px; }
  .flag.flag-sc {
    background-position: -32px -132px; }
  .flag.flag-scotland {
    background-position: -48px -132px; }
  .flag.flag-sd {
    background-position: -64px -132px; }
  .flag.flag-se {
    background-position: -80px -132px; }
  .flag.flag-sg {
    background-position: -96px -132px; }
  .flag.flag-sh {
    background-position: -112px -132px; }
  .flag.flag-si {
    background-position: -128px -132px; }
  .flag.flag-sk {
    background-position: -144px -132px; }
  .flag.flag-sl {
    background-position: -160px -132px; }
  .flag.flag-sm {
    background-position: -176px -132px; }
  .flag.flag-sn {
    background-position: -192px -132px; }
  .flag.flag-so {
    background-position: -208px -132px; }
  .flag.flag-somaliland {
    background-position: -224px -132px; }
  .flag.flag-sr {
    background-position: -240px -132px; }
  .flag.flag-ss {
    background-position: 0 -143px; }
  .flag.flag-st {
    background-position: -16px -143px; }
  .flag.flag-sv {
    background-position: -32px -143px; }
  .flag.flag-sx {
    background-position: -48px -143px; }
  .flag.flag-sy {
    background-position: -64px -143px; }
  .flag.flag-sz {
    background-position: -80px -143px; }
  .flag.flag-tc {
    background-position: -96px -143px; }
  .flag.flag-td {
    background-position: -112px -143px; }
  .flag.flag-tf {
    background-position: -128px -143px; }
  .flag.flag-tg {
    background-position: -144px -143px; }
  .flag.flag-th {
    background-position: -160px -143px; }
  .flag.flag-tj {
    background-position: -176px -143px; }
  .flag.flag-tk {
    background-position: -192px -143px; }
  .flag.flag-tl {
    background-position: -208px -143px; }
  .flag.flag-tm {
    background-position: -224px -143px; }
  .flag.flag-tn {
    background-position: -240px -143px; }
  .flag.flag-to {
    background-position: 0 -154px; }
  .flag.flag-tr {
    background-position: -16px -154px; }
  .flag.flag-tt {
    background-position: -32px -154px; }
  .flag.flag-tv {
    background-position: -48px -154px; }
  .flag.flag-tw {
    background-position: -64px -154px; }
  .flag.flag-tz {
    background-position: -80px -154px; }
  .flag.flag-ua {
    background-position: -96px -154px; }
  .flag.flag-ug {
    background-position: -112px -154px; }
  .flag.flag-um {
    background-position: -128px -154px; }
  .flag.flag-us {
    background-position: -144px -154px; }
  .flag.flag-uy {
    background-position: -160px -154px; }
  .flag.flag-uz {
    background-position: -176px -154px; }
  .flag.flag-va {
    background-position: -192px -154px; }
  .flag.flag-vc {
    background-position: -208px -154px; }
  .flag.flag-ve {
    background-position: -224px -154px; }
  .flag.flag-vg {
    background-position: -240px -154px; }
  .flag.flag-vi {
    background-position: 0 -165px; }
  .flag.flag-vn {
    background-position: -16px -165px; }
  .flag.flag-vu {
    background-position: -32px -165px; }
  .flag.flag-wales {
    background-position: -48px -165px; }
  .flag.flag-wf {
    background-position: -64px -165px; }
  .flag.flag-ws {
    background-position: -80px -165px; }
  .flag.flag-ye {
    background-position: -96px -165px; }
  .flag.flag-yt {
    background-position: -112px -165px; }
  .flag.flag-za {
    background-position: -128px -165px; }
  .flag.flag-zanzibar {
    background-position: -144px -165px; }
  .flag.flag-zm {
    background-position: -160px -165px; }
  .flag.flag-zw {
    background-position: -176px -165px; }

html, body {
  width: 100%;
  height: auto;
  height: 100%;
  float: left;
  font-weight: 300;
  background-color: #f8f9f9;
  font-family: "PT Sans", sans-serif; }

.navbar-public {
  border: 0px; }
  .navbar-public li a {
    color: white;
    font-weight: 500;
    background-color: #00b47e; }
  .navbar-public li a:hover {
    background-color: #f5a31f; }
  .navbar-public li .btn-login {
    margin: 20px;
    font-size: 1.42857em;
    padding: 12px 20px; }

.navbar-default {
  border-radius: 0px;
  border: 0px;
  background-color: #00b47e;
  -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
  -moz-box-shadow: 0px 0px 6px 1px #e0e0e0;
  box-shadow: 0px 0px 6px 1px #e0e0e0; }
  .navbar-default .navbar-nav li a {
    color: white;
    font-weight: 500;
    padding: 22px;
    font-size: 1.28571em; }
  .navbar-default .navbar-nav li a:hover {
    color: white;
    background-color: #f5a31f; }
  .navbar-default .navbar-nav li .nav-profile-img {
    padding: 17px; }
    .navbar-default .navbar-nav li .nav-profile-img img {
      width: 30px;
      height: 30px;
      margin-right: 8px; }
  .navbar-default .navbar-nav li.navbar-active a {
    color: white;
    background-color: #f5a31f; }
  .navbar-default .dropdown.open a {
    color: white; }
  .navbar-default .dropdown.open a:hover {
    background-color: #f5a31f;
    color: white; }
  .navbar-default .dropdown.open .dropdown-toggle {
    background-color: #f5a31f; }
  .navbar-default .dropdown.open .dropdown-menu li a {
    color: #777777;
    padding: 8px 20px; }
  .navbar-default .dropdown.open .dropdown-menu li a:hover {
    color: #777777;
    background-color: #f8f8f8; }
  .navbar-default .navbar-brand {
    height: auto;
    padding: 8px 20px; }

#footer {
  padding: 20px 0px;
  background-color: #666666 !important;
  color: white; }
  #footer h4 {
    font-weight: 500;
    font-size: 1.42857em;
    color: white; }
  #footer .list-unstyled li, #footer .list-unstyled a {
    color: white;
    font-size: 1em;
    font-weight: 400; }
  #footer .list-unstyled a:hover {
    color: #777777; }
  #footer .list-unstyled li {
    margin: 4px 0px; }
  #footer .list-inline {
    margin: 0px; }
    #footer .list-inline i {
      font-size: 2.28571em; }
  #footer .footer-credits {
    float: left;
    width: 100%;
    margin: 20px 0px 0px 0px; }
    #footer .footer-credits .copyright {
      color: white;
      font-weight: 500; }
      #footer .footer-credits .copyright span {
        text-align: right;
        margin: 8px 0px 0px 0px;
        float: right; }

/*Ipad Layouts */
.landing {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .landing .navbar {
    margin: 0px; }
  .landing .navbar-default {
    display: none; }
  .landing h2 {
    font-size: 2.28571em;
    color: #f5a31f;
    font-weight: bold; }
  .landing p {
    font-size: 1.71429em;
    margin: 8px 0px; }
  .landing b {
    color: #f5a31f; }
  .landing .col-md-10 .col-md-5 {
    text-align: center; }
  .landing .inschool-cover, .landing .attend-cover {
    margin-top: -83px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("/img/inschool-cover.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding: 0px 32px;
    text-align: center;
    height: 500px; }
  .landing .inschool-cover {
    border-bottom: 10px solid #00b47e; }
    .landing .inschool-cover img {
      padding: 130px 0px;
      width: 400px; }
  .landing .inschool-sub-cover-icons {
    text-align: center;
    margin-top: -150px;
    margin-bottom: 20px; }
    .landing .inschool-sub-cover-icons img {
      width: 210px; }
  .landing .attend-cover {
    padding: 80px 0px;
    margin-top: 0px;
    background-image: url("/img/attend-cover.png");
    height: auto;
    text-align: left; }
  .landing .assure .col-md-7 {
    padding-top: 100px; }
  .landing .attend .col-md-7 {
    padding-top: 100px; }
  .landing .arrive, .landing .attend, .landing .assure {
    padding: 80px 0px; }
  .landing .arrive .col-md-7 {
    padding-top: 70px; }

.calendar {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .calendar .navbar-public {
    display: none; }

.profile {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .profile .navbar-public {
    display: none; }

.dashboard {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .dashboard .navbar-public {
    display: none; }
  .dashboard #root {
    height: 100%; }
  .dashboard .navbar-default {
    margin: 0px; }
  .dashboard .news-feed, .dashboard .chat-messages-list, .dashboard .chat-messages {
    height: 100%; }
    .dashboard .news-feed h2, .dashboard .chat-messages-list h2, .dashboard .chat-messages h2 {
      font-weight: bold;
      padding: 12px 0px;
      color: #777777; }
      .dashboard .news-feed h2 a, .dashboard .chat-messages-list h2 a, .dashboard .chat-messages h2 a {
        color: #00b47e; }
      .dashboard .news-feed h2 a:hover, .dashboard .chat-messages-list h2 a:hover, .dashboard .chat-messages h2 a:hover {
        color: #f5a31f; }
  .dashboard .news-feed {
    background-color: #eeeeee; }
    .dashboard .news-feed .feed-track {
      overflow: auto;
      height: -webkit-calc(100% - 50px);
      height: -moz-calc(100% - 50px);
      height: calc(100% - 50px);
      padding-bottom: 50px; }
      .dashboard .news-feed .feed-track .feed-entry {
        background-color: white;
        width: 100%;
        padding: 12px;
        -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
        -moz-box-shadow: 0px 0px 6px 1px #e0e0e0;
        box-shadow: 0px 0px 6px 1px #e0e0e0;
        margin: 0px 0px 12px 0px; }
        .dashboard .news-feed .feed-track .feed-entry h4 {
          font-weight: bold;
          font-size: 1.28571em; }
        .dashboard .news-feed .feed-track .feed-entry p {
          font-weight: 500;
          font-size: 1.14286em;
          color: #555555;
          margin: 0px; }
        .dashboard .news-feed .feed-track .feed-entry .list-inline {
          margin: 12px 0px 0px 0px; }
          .dashboard .news-feed .feed-track .feed-entry .list-inline a {
            color: #555555; }
          .dashboard .news-feed .feed-track .feed-entry .list-inline .feed-date {
            font-style: italic;
            color: #777777;
            font-size: 0.85714em;
            margin: 2px 0px 0px 0px; }
  .dashboard .chat-messages-list {
    background-color: #f8f8f8;
    padding: 0px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #bbbbbb; }
    .dashboard .chat-messages-list h2 {
      padding: 12px; }
    .dashboard .chat-messages-list .chat-search {
      background-color: #bbbbbb;
      padding: 10px; }
    .dashboard .chat-messages-list .message-list-track {
      overflow: auto;
      height: -webkit-calc(100% - 97px);
      height: -moz-calc(100% - 97px);
      height: calc(100% - 97px);
      padding-bottom: 100px; }
      .dashboard .chat-messages-list .message-list-track .message-entry {
        background-color: white;
        padding: 12px;
        border-bottom: 1px solid;
        border-color: #bbbbbb; }
        .dashboard .chat-messages-list .message-list-track .message-entry h4 {
          font-weight: bold;
          font-size: 1.28571em; }
          .dashboard .chat-messages-list .message-list-track .message-entry h4 .message-name {
            width: 70%; }
          .dashboard .chat-messages-list .message-list-track .message-entry h4 .message-timing {
            width: 30%;
            font-weight: normal;
            color: #bbbbbb;
            font-style: italic;
            font-size: 0.71429em;
            text-align: right; }
        .dashboard .chat-messages-list .message-list-track .message-entry p {
          margin: 0px; }
          .dashboard .chat-messages-list .message-list-track .message-entry p .message-detail {
            width: 80%; }
          .dashboard .chat-messages-list .message-list-track .message-entry p .message-status {
            width: 20%;
            text-align: right;
            color: #f5a31f; }
      .dashboard .chat-messages-list .message-list-track .message-entry:hover {
        cursor: pointer;
        background-color: #eeeeee; }
      .dashboard .chat-messages-list .message-list-track .active {
        background-color: #eeeeee; }
  .dashboard .chat-messages {
    background-color: #eeeeee;
    padding: 12px; }
    .dashboard .chat-messages .chat-convo {
      background-color: #f8f8f8;
      height: -webkit-calc(100% - 24px);
      height: -moz-calc(100% - 24px);
      height: calc(100% - 24px);
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
      -moz-box-shadow: 0px 0px 6px 1px #e0e0e0;
      box-shadow: 0px 0px 6px 1px #e0e0e0; }
      .dashboard .chat-messages .chat-convo .chat-convo-head {
        background-color: #00b47e;
        color: white;
        padding: 12px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
        .dashboard .chat-messages .chat-convo .chat-convo-head .media {
          width: 85%;
          display: inline-block; }
          .dashboard .chat-messages .chat-convo .chat-convo-head .media h4 {
            font-weight: bold;
            font-size: 1.28571em; }
          .dashboard .chat-messages .chat-convo .chat-convo-head .media p {
            margin: 0px; }
            .dashboard .chat-messages .chat-convo .chat-convo-head .media p a {
              color: white; }
        .dashboard .chat-messages .chat-convo .chat-convo-head .chat-convo-head-controls {
          width: 13%;
          font-size: 1.42857em;
          vertical-align: top;
          display: inline-block;
          color: white;
          text-align: right; }
          .dashboard .chat-messages .chat-convo .chat-convo-head .chat-convo-head-controls a {
            color: white; }
          .dashboard .chat-messages .chat-convo .chat-convo-head .chat-convo-head-controls a:hover {
            text-decoration: none; }
      .dashboard .chat-messages .chat-convo .chat-convo-details {
        padding: 12px;
        border-color: #bbbbbb;
        height: -webkit-calc(100% - 260px);
        height: -moz-calc(100% - 260px);
        height: calc(100% - 260px); }
        .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track {
          overflow: auto;
          height: 100%; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-left {
            display: block;
            margin-bottom: 12px; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-left .avatar {
              display: inline-block;
              vertical-align: top; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-left .bubble {
              font-size: 1.28571em;
              position: relative;
              min-width: 10%;
              max-width: 60%;
              display: inline-block;
              min-height: 24px;
              padding: 0px;
              background: #97d6d7;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              margin-left: 20px;
              padding: 8px 10px; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-left .bubble:after {
              content: '';
              position: absolute;
              border-style: solid;
              border-width: 10px 12px 10px 0;
              border-color: transparent #97d6d7;
              display: block;
              width: 0;
              z-index: 1;
              left: -12px;
              top: 11px; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-right {
            margin-bottom: 12px;
            display: block;
            text-align: right; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-right .avatar {
              display: inline-block;
              vertical-align: top; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-right .bubble {
              font-size: 1.28571em;
              position: relative;
              min-width: 10%;
              max-width: 60%;
              display: inline-block;
              min-height: 24px;
              padding: 0px;
              background: #dafc90;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              margin-right: 20px;
              padding: 8px 10px;
              text-align: left; }
            .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .chat-right .bubble:after {
              content: '';
              position: absolute;
              border-style: solid;
              border-width: 10px 0 10px 12px;
              border-color: transparent #dafc90;
              display: block;
              width: 0;
              z-index: 1;
              right: -12px;
              top: 11px; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .bubble .bubble-head {
            font-weight: bold;
            font-size: 1em; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .bubble .bubble-time {
            margin: 0px 0px 0px 10px;
            font-size: 0.71429em;
            color: #555555; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .bubble .bubble-details {
            display: block; }
          .dashboard .chat-messages .chat-convo .chat-convo-details .convo-track .bubble i {
            font-size: 0.71429em;
            color: #555555; }
      .dashboard .chat-messages .chat-convo .chat-convo-send {
        padding: 12px;
        background-color: #bbbbbb;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
        .dashboard .chat-messages .chat-convo .chat-convo-send textarea {
          resize: none;
          height: 120px; }
        .dashboard .chat-messages .chat-convo .chat-convo-send .chat-convo-controls {
          text-align: right;
          margin: 12px 0px 0px 0px; }

.my-school {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .my-school .navbar-public {
    display: none; }

.my-classes {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .my-classes .navbar-public {
    display: none; }

.attendance-list {
  /* responsive iphone, smartphone*/
  /*Ipad Layouts */ }
  .attendance-list .navbar-public {
    display: none; }

html, body {
  min-height: 100%; }

#root {
  clear: both;
  min-height: 100%;
  margin-bottom: -210px; }
  #root #root_footer {
    height: 210px; }

#footer {
  clear: both;
  position: relative;
  height: 210px; }

/* responsive iphone, smartphone*/
@media only screen and (min-width: 320px) and (max-width: 568px) {
  html, body {
    min-height: 100%; }

  #root {
    clear: both;
    min-height: 100%;
    margin-bottom: -550px; }
    #root #root_footer {
      height: 550px; }

  #footer {
    clear: both;
    position: relative;
    height: 550px; } }
/*Ipad Layouts */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html, body {
    min-height: 100%; }

  #root {
    clear: both;
    min-height: 100%;
    margin-bottom: -530px; }
    #root #root_footer {
      height: 530px; }

  #footer {
    clear: both;
    position: relative;
    height: 530px; } }
