//Defining the variables
$color-layout-background-muted: #f0f0f0;
$color-layout-background: #f6f6f6;
$color-inschool-background: #f8f9f9;
$color-footer-cp-credits-background: #efefef;

$color-muted-fade : #f8f8f8;
$color-muted-light: #eeeeee;
$color-muted-mid: #bbbbbb;
$color-muted-dark: #777777;
$color-muted-intense: #555555;

$color-brand-green: #00b47e;
$color-brand-orange: #f5a31f;


$color-footer:#666666;

$color-text-reversed: #ffffff;
$color-text: #222;


$text-size-base : 14;
$font-text-default : 'PT Sans', sans-serif;